
@font-face {
    font-family: inter;
    src: url(../assets/fonts/Inter/Inter-VariableFont_opsz\,wght.ttf);
}
@font-face {
    font-family: apercu;
    src: url(../assets/fonts/apercu-pro/apercu_medium_pro.otf);
}
@font-face {
    font-family: futurak;
    src: url(../assets/fonts/futurak/futurak.ttfz);
}
.apercu{
    font-family: apercu;
    font-size: 1.5rem;
    font-weight: 200;
}
html{

    font-size: 62.5%;
}

:root {
  --black: #000000;
  --white: #ffffff;
  --red: #ed1c24;
  --grey: #1d1d1d;
  
}
.nav-ab{
    border-bottom: 2px solid var(--grey) ;
}
nav{
   display: flex;
   align-items: center;
   justify-content:space-between;
   background-color: black;
   padding: 0 40px;
   
}
.logo img{
    width: 200px;
    background-size: cover;
    background-position: center;
    
    padding: 20px;
}

.nav-links > a{
    justify-content: space-around;
    margin-right: 20px;
    font-size: 2rem;
    
}
.introduction{
    text-align: center;
    margin: 0px 0px 15px;
}
.introduction > h1{
    margin: 10px 0px;
    font-size: 4rem;
}
.introduction > p{
    margin: 30px 0px;
    font-size: 1.6rem;
    font-weight: 200;
    line-height:30px ;
    color: #d1cfcf;
}
/* our brand section started */

/* .our-brand{
    background-color: black;
    height: 70vh;
}
.our-brand{
    color: white;
    text-align: center;
    display: flex;
    flex-direction: column;
    margin-bottom: 100px;
    
    
}
.our-brand h1{
    font-size: 4.8rem;
    margin-top: 100px;
    
}
.our-brand-or {
    margin-top: 30px;
    gap: 20px;
}
.our-brand p{
    font-size: 2rem;
    margin-top: 20px;
}
.our-brand-or > .order{
    
    display: flex;
    flex-direction: column;
}
.our-brand-or > .order > .brand-img{
    background-color: white;
    width: 100%;
    
    border-radius: 5px;
    
}
.our-brand-or > .order > button{
    background-color: transparent;
    color: #ffffff;
    border: 1px solid #1d1d1d;
    margin: 10px 0 0 0;
    padding: 10px 40px;
    border-radius:30px ;
} */
/* our brand section ended */
/* dkd */

.fr-head >  h1 {
    font-size: 5.2rem;
}
.franchise > .fr-head > h2{
    font-size: 4.8rem;
    margin-top: 10px;
}
.franchise > .fr-head > p{
    font-size: 2rem;
    margin-top: 10px;
}

 /* our-brand sec ended  */

 .isl{
    margin-top: 30px;
    gap: 20px;
 }
 .isl > .para{

    font-size: 2rem;
    margin-top: 20px;  
   
 }
.para > button{
        background-color: transparent;
        color: #ffffff;
        border: 1px solid #f0f0f0;
        margin: 10px 0 0 0;
        padding: 20px 40px;
        border-radius:30px ;
        font-size: 15px;
    }
/* frachies sec ended  */
/* connoisseur sec started */
.the-food{
    padding: 30px 0px;
}
.express-main{
    padding: 20px 0px;
}
.express-main > h1{
    font-size: 3.2rem;
}
.express-main > p{
    font-size: 1.6rem;
    margin: 10px 0px;

}
.cont{
    gap:30px ;
    margin-top: 30px;
    justify-content: center;
}
 .image >img{
    width: 546px;
    height:334 ;
    border-radius: 6px;
}
.exp-head > p{
font-size: 1.6rem;
line-height: 20px;
}
/* connoisseur sec ended */
 /* our-brand sec started  */

.fr-head >  h1 {
    font-size: 5.2rem;
}
.franchise > .fr-head > h2{
    font-size: 4.8rem;
    margin-top: 10px;
}
.franchise > .fr-head > p{
    font-size: 2rem;
    margin-top: 10px;
}

 /* our-brand sec ended  */

 .isl{
    margin-top: 30px;
    gap: 20px;
 }
 .isl > .para{

    font-size: 2rem;
    margin-top: 20px;  
   
 }
.para > button{
        background-color: transparent;
        color: #ffffff;
        border: 1px solid #f0f0f0;
        margin: 10px 0 0 0;
        padding: 20px 40px;
        border-radius:30px ;
        font-size: 15px;
    }
    .para > button{
        background-color: transparent;
        color: #ffffff;
        border: 1px solid #f0f0f0;
        margin: 10px 0 0 0;
        padding: 20px 40px;
        border-radius:30px ;
        font-size: 15px;
    }
/* frachies sec ended  */
/* ex frachies 3rd started */
.ex-fr-head >  h1 {
    font-size: 5.2rem;
    margin-top: 100px;
}
.ex-fr-head > h2{
    font-size: 4.8rem;
    margin-top: 10px;
}
.ex-fr-head > p{
    font-size: 2rem;
    margin-top: 30px;
}
/* row-section of ex franchises */
.ex-row{
    margin-top: 20px;
}
.ex-para {
    font-size: 1.5rem;
    margin-top: 30px;
}
.ex-para > p{
    font-size: 1.5rem;
    margin-top: 20px;
    letter-spacing: 3px;
}
.ex-para > image{
    width: 600px;
    
}
.ex-para > button{
    background-color: transparent;
    color: #ffffff;
    border: 1px solid #ececec;
    margin: 10px 0 0 0;
    padding: 20px 40px;
    border-radius:30px;
    font-size: 1.5rem;
    font-weight: 600;
}
.cont > .ex-para{
    text-align: left;
}