
@font-face {
    font-family: inter;
    src: url(../assets/fonts/Inter/Inter-VariableFont_opsz\,wght.ttf);
}
@font-face {
    font-family: apercu;
    src: url(../assets/fonts/apercu-pro/apercu_medium_pro.otf);
}
@font-face {
    font-family: futurak;
    src: url(../assets/fonts/futurak/futurak.ttfz);
}
.apercu{
    font-family: apercu;
    font-size: 1.5rem;
    font-weight: 200;
}
html{

    font-size: 62.5%;
}

:root {
  --black: #000000;
  --white: #ffffff;
  --red: #ed1c24;
  --grey: #1d1d1d;
  
}
.nav-ab{
    border-bottom: 2px solid var(--grey) ;
}
nav{
   display: flex;
   align-items: center;
   justify-content:space-between;
   background-color: black;
   padding: 0 40px;
   
}
.logo img{
    width: 200px;
    background-size: cover;
    background-position: center;
    
    padding: 20px;
}

.nav-links > a{
    justify-content: space-around;
    margin-right: 20px;
    font-size: 2rem;
    
}
.franchise-form {
  width: 80%;
  max-width: 1000px;
  margin: 60px auto;
  text-align: center;
}
.get-franchise > h1{
    text-align: center;
    font-size: 4rem;
    margin: 40px;
}

form {
  display: flex;
  flex-direction: column;
  gap: 40px 0px;
  margin: 40px 40px;
}

.form-row {
  display: flex;
  gap: 20px;
  flex-wrap: wrap;
}


.form-group {
  flex: 1;
  display: flex;
  flex-direction: column;
  text-align: left;
}

label {
  font-weight: 500;
  margin-bottom: 8px;
  font-size: 1.6rem;
}

input {
  padding: 12px 15px;
  border: none;
  border-radius: 6px;
  outline: none;
  font-size: 1rem;
}

input:invalid {
  border: 2px solid #f44336;
}

.submit-btn {
  width: 150px;
  background-color: #ffb400;
  color: #fff;
  font-weight: 600;
  border: none;
  border-radius: 30px;
  padding: 12px 0;
  cursor: pointer;
  margin-top: 20px;
  transition: background-color 0.3s ease;
}